@use '../abstracts/variables';
@use '../abstracts/mixins';

ul.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: variables.$spacer-md;

    .project {
        @include mixins.background(true);
    }

    @media screen and (min-width: variables.$screen-lg) {
        gap: variables.$spacer-lg;
    }
}
