@use '../abstracts/variables';
@use '../abstracts/mixins';

.button-secondary {
    @include mixins.button();
}

.button-danger {
    @include mixins.button(variables.$color-button-danger);
}

.logout-button > button {
    color: variables.$color-button-danger;

    &:hover {
        background: variables.$color-button-danger;
        color: variables.$color-text-primary;
    }
}
