@use '../abstracts/variables';

.form-section {
    color: variables.$color-text-primary;
    
    .description {
        color: variables.$color-text-secondary;
    }

    form {
        background: variables.$color-background-element;

        input,
        select {
            background: variables.$color-background-page;
            color: variables.$color-text-primary;
    
            &:focus {
                border-color: variables.$color-text-link;
            }
        }
    }
}

.form-section form {
    label {
        //color: variables.$color-text-primary;
    }
}
