@use '../abstracts/variables';
@use '../abstracts/mixins';

.pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
