@use '../abstracts/variables';
@use '../abstracts/mixins';

.project {
    @include mixins.background();
    padding: variables.$spacer-md;

    @media screen and (min-width: variables.$screen-lg) {
        padding: variables.$spacer-lg;
    }
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: variables.$spacer-xxs;

    .project h2 {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.75rem;
    }
    
    .project-slug {
        color: variables.$color-text-secondary;
        display: block;
    }
    
    .project-url {
        color: variables.$color-text-link;
        text-decoration: underline;
    }
}

.project-description {
    color: variables.$color-text-secondary;
    margin-top: variables.$spacer-md;

    @media screen and (min-width: variables.$screen-lg) {
        margin-top: variables.$spacer-lg;
    }
}
