@use '../abstracts/variables';

body,
h2 {
    color: variables.$color-text-primary;
    font-family: variables.$font-family;
}

p,
small,
span {
    color: variables.$color-text-secondary;
}

div {
    color: inherit;
}
