@use '../abstracts/variables';

body {
    color: variables.$color-text-primary;
    font-family: variables.$font-family;
}

h1,
h2,
h3,
a {
    color: variables.$color-text-primary;
}

p,
small {
    color: variables.$color-text-secondary;
}
