@use 'sass:color';
@use './variables';

// Add Background
@mixin background($hover: false, $border-radius: variables.$border-radius-md) {
    background: variables.$color-background-element;
    border-radius: $border-radius;

    @if $hover {
        &:hover {
            background: variables.$color-background-element-hover;
        }
    }
}

// Create button
@mixin button($color: variables.$color-background-page) {
    background: $color;
    border: 2px solid $color;
    border-radius: variables.$border-radius-md;
    color: variables.$color-text-primary;
    padding: variables.$spacer-xs;

    &:hover {
        background: variables.$color-background-element;
    }
}
