@use 'sass:color';
@use './variables';

// Add Background
@mixin background($hover: false, $border-radius: variables.$border-radius-md) {
    background: variables.$color-background-element;
    border-radius: $border-radius;

    @if $hover {
        &:hover {
            background: color.scale(variables.$color-background-element, $lightness: -21%);
        }
    }
}

// Create Flexbox
@mixin flex() {
    display: flex;
    flex-wrap: wrap;
    gap: variables.$spacer-md;
}
