// CSS Variables
.light-theme {
    --color-background-element: #ffffff;
    --color-background-element-active: #f9fafb;
    --color-background-element-hover: #cfcfcf;
    --color-background-page: #f3f4f6;
    --color-button: #5c4c10;
    --color-danger: #dc2626;
    --color-text-link: #818cf8;
    --color-text-primary: #1f2937;
    --color-text-secondary: #6b7280;
}

// Dark theme
.dark-theme {
    --color-background-element: #1f2937;
    --color-background-element-active: #374151;
    --color-background-element-hover: #18202b;
    --color-background-page: #111827;
    --color-button: #5c4c10;
    --color-danger: #dc2626;
    --color-text-link: #3b82f6;
    --color-text-primary: #e5e7eb;
    --color-text-secondary: #4b5563;
}


// Sass Variables
// Colors
$color-text-primary: var(--color-text-primary);
$color-text-secondary: var(--color-text-secondary);
$color-text-link: var(--color-text-link);

$color-background-element: var(--color-background-element);
$color-background-element-active: var(--color-background-element-active);
$color-background-element-hover: var(--color-background-element-hover);
$color-background-page: var(--color-background-page);

$color-button-secondary: var(--color-button);
$color-button-danger: var(--color-danger);

// Fonts
$font-family: Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-lg: 1.25rem;
$font-weight-semibold: 600;

// Units
$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;

$spacer-xxs: 0.125rem;
$spacer-xs: 0.5rem;
$spacer-sm: 1rem;
$spacer-md: 1.5rem;
$spacer-lg: 2rem;
$spacer-xl: 3rem;

$content-width: 80rem;

$screen-md: 640px;
$screen-lg: 1024px;
